@model IEnumerable<Turnos.Models.Especialidad>

<!DOCTYPE html>
<html>
<head>
    <title>Especialidad</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            </tr>
        </thead>
        <tbody>
            @*Aqui colocaremos, mas adelanteel codigo Para mostrar 1os registros de la base de datos*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                </tr>
            }    
              
            <tr>
                <td>Cardiologo</td>
            </tr>
        </tbody> 
    </table>
</body>
</html>